.burger {
	--burger-time: 0.1s;
	--burger-width: 40px;
	--burger-line-height: 4px;
	--burger-radius: 4px;
	position: absolute;
	left: 20px;
	top: 50%;
	z-index: 10;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	background-color: var(--second-accent-color);
	transform: translateY(-50%);
	transition: filter var(--time);

	&__line {
		width: 15px;
		height: 15px;
		background-image: url('@img/icons/sprite.svg#dots');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&:hover {
		filter: brightness(0.8);
	}

	&--visible {
		display: flex;
	}

	&--active {
		.burger__line {
			background-image: url('@img/icons/sprite.svg#cross');
		}
	}
}
