@use 'mixins/adaptive-font' as *;

.vacancy {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__img {
		margin-bottom: 55px;
		width: 85px;
	}

	&__form {
		width: 100%;
		max-width: 1200px;

		& form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 110px;

			@media (max-width: 992px) {
				gap: 60px;
			}
		}

		& p {
			display: grid;
			grid-template: repeat(8, 1fr) / repeat(2, 1fr);
			margin: 0;
			width: 100%;
			gap: 10px;

			@media (max-width: 768px) {
				grid-template: auto / repeat(1, 1fr);
			}
		}

		& span {
			display: inline-block;
		}
	}

	&__input {
		width: 100%;
	}

	&__submit {
		margin-bottom: 35px;
	}

	&__text {
		max-width: 530px;
		font-family: var(--font-second);
		font-weight: 300;
		font-style: normal;
		line-height: normal;
		text-align: center;
		color: var(--light-color);
		opacity: 0.35;
		@include adaptive-font(12, 8);

		& a {
			text-decoration-style: solid;
			text-decoration-line: underline;
			text-underline-position: from-font;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
