<section class="section light-pink">
	<div class="band">
		<div class="container">
			<div class="band__texts">
				<h3 class="band__subtitle subtitle">
					Харизматичная, талантливая, внимательная
				</h3>
				<h2 class="band__title title">
					Арт-группа создаст неповторимую атмосферу вечера
				</h2>
				<p class="band__text text">
					<span>Наша команда — это ведущие, диджеи, шоу-балет и профессиональные</span> бэк-вокалисты, которые помогут
					каждому гостю
					проявить
					себя
				</p>
				<p class="band__slogan">
					В нашем магическом пространстве вы сможете:
				</p>
			</div>

			<div class="band__cards">

				<div class="band__card band-card">
					<div class="band-card__img">
						<img src="@img/band/item-1.webp" alt="">
					</div>

					<div class="band-card__texts">
						<h4 class="band-card__title">
							Почувствовать поддержку и вдохновение <span>от наших ведущих</span>
						</h4>
						<p class="band-card__text text">
							Которые сделают ваше выступление незабываемым
						</p>
					</div>
				</div>

				<div class="band__card band-card">
					<div class="band-card__img">
						<img src="@img/band/item-1.webp" alt="">
					</div>

					<div class="band-card__texts">
						<h4 class="band-card__title">
							Почувствовать поддержку и вдохновение <span>от наших ведущих</span>
						</h4>
						<p class="band-card__text text">
							Которые сделают ваше выступление незабываемым
						</p>
					</div>
				</div>

				<div class="band__card band-card">
					<div class="band-card__img">
						<img src="@img/band/item-1.webp" alt="">
					</div>

					<div class="band-card__texts">
						<h4 class="band-card__title">
							Почувствовать поддержку и вдохновение <span>от наших ведущих</span>
						</h4>
						<p class="band-card__text text">
							Которые сделают ваше выступление незабываемым
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>