<header class="header">
	<div class="container header__container">
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Афиша</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Залы</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Акции</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Меню</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Фото отчеты</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Банкеты</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Правила клуба</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Вакансии</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Контакты</a>
					</li>
				</ul>
				<a class="header__link header__link--mobile link-reset link link--blue-transparent" href="#">
					Резерв
				</a>
			</nav>

		</div>

		<div class="header__links">
			<div class="header__inner">
				<a class="header__phone link-reset" href="tel:+79257059999">+7 925 705 99 99</a>
				<a class="header__feedback link-reset" href="#">Обратный звонок</a>
			</div>
			<a class="header__link header__link--desktop link-reset link link--blue-transparent" href="#">
				Резерв
			</a>
		</div>
	</div>
</header>