<section class="section light-big-blue">
	<div class="container">
		<div class="vacancy">

			<img class="vacancy__img" src="@img/general/logo.webp" alt="">
			<h1 class="vacancy__title title">
				Заявка на вакансию
			</h1>

			<div class="vacancy__form">
				<form action="#">
					<p>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<input class="vacancy__input input-reset input" type="text" placeholder="Имя">
						</span>
						<span>
							<label class="input-file" id="drop-zone" for="file-upload">
								Перетяните сюда или выберите файл(ы)
							</label>
							<input class="is-hidden" id="file-upload" type="file" multiple="">
						</span>
					</p>
					<input class="vacancy__submit input-reset submit" type="submit" value="Отправить">
				</form>
			</div>

			<p class="vacancy__text">
				Указывая свои данные, вы даете согласие на обработку персональных данных в соответствии с <a class="link-reset"
					href="#">политикой
					конфиденциальности</a>
			</p>

		</div>
	</div>
</section>